body {
  background-color: #38AFE9;
}

h1 {
  color: #f7e557;
}

input {
  border-radius: 5px;
  margin: 5px;
}

button {
  margin-top: 10px;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  width: 70%;
  margin: auto;
}

/* li {
  display: inline;
} */

.main-space {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
}

.horizontal {
  display: inline-block;
}

.w5 {
  color: white;
}
.db5 {
  color: #0072af;
}
.flex {
  display: flex;
}

.full-flex {
  display: flex;
  height: 100%;
}

.side-by-side-split {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr) 1fr;
  column-gap: 1%;
  margin: auto;
}

.thirds-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.second-in-grid {
  grid-column-start: 2;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav .container-fluid {
  display: flex;
}

.navbar-nav .lefty {
  margin-right: auto; /* Push this item to the far left */
}

.navbar-nav .righty a{
  margin-left: auto; /* Push these items to the far right */
  color: white;
}

.navbar-nav .righty {
  margin-right: 2%;
  color: white;

}

.dropdown:hover>.dropdown-menu {
  display: block;
  position: absolute;
  border-radius: 0;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.logoutBtn {
  background-color: transparent;
  border: none;
  margin: inherit;
}

.right-caret::after {
  /* position: absolute; */
  right: 20px;
  top: 50%;
  margin-top: -5px;
}

#logoutDropdown {
  background-color: #0072af;
  color: white;
}

.dropdown-menu {
  background-color: #0072af;
  margin-top: 0;
  padding: 0;
}

.dropdown-menu > li:hover {
  background-image: none;
  background-color: #00629f;
}

.error-text {
  color: #f7e557;
}

.top-round {
  border-radius: 5rem 5rem 0rem 0rem;
  background-color: #f7e557;
  width: 65%;
  height: auto;
  color: black;
}

.bottom-round {
  border-radius: 0rem 0rem 5rem 5rem;
  background-color: #f7e557;
  width: 65%;
  height: 30px;
}

#nav-container {
  background-color: #0072af;
  position: sticky;
  margin-bottom: 10px;
}

#logo {
  font-size: 30px;
}

#app {
  width: 100%;
  height: 100%;
}

#langcard {
  width: 18rem; 
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.jumbotron {
  color: white;
  background-color: #38AFE9;
}

#homepage-blurb {
  max-width: 540px;
  font-size: 22px;
}

.list-group {
  width: 65%;
}

.list-group-item {
  background-color: white;
  font-size: 25px;
  text-align: left;
  border-radius: 0rem !important;
  padding: 0px;
}

.list-group-item a {
  padding: 8px;
  height: 100%;
  width: 100%;
  color: #808080;
}

.lesson-checkbox {
  transform: scale(1.5);
  margin: 15px;
}

.lesson {
  background-color: white;
  color: darkslategray;
  margin: 0 auto;
  text-align: center;
  margin: auto;
  padding: 2%;
  border-radius: 5rem;
  max-width: 1600px;
}

.lesson h4{
  color: #0e7fc5;
  margin-top: 10px;
}

.lesson h2 {
  color: #0e7fc5;
  margin-top: 20px;
}


.lesson>img {
  max-width: 100%;
  max-height: 100%;
}

.mark-read-button {
  color: white;
  font-size: 23px;
  background-color:#00629f;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-radius: 0.5rem;
  width: 20%;
}

.mark-read-button:hover {
  opacity: 0.9;
}

.btn-db {
  background-color: #0072af;
  color: white;
}

.table {
  color: darkslategray;
  width: 70%;
  margin: auto;
}


.table tr td {
  padding-bottom: 20px;
}
.table th {
  padding-top: 20px;
}

.side-by-side-table {
  color: darkslategray;
  width: 70%;
  margin: auto;
}

.round-light-yellow {
  background-color: #fff7be;
  border-radius: 4rem;
}

.note-content {
  font-style: italic;
  opacity: 60%;
}

.hometitle {
  margin: auto;
  font-size: 70px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

#homepage-up-arrow {
  margin-left: auto;
  background-color: #38AFE9;
  width: 15%;
  align-content: center;
}

#homepage-up-arrow h4 {
  text-align: center;
  color: #f7e457;
  width: 0%;
  margin-left: auto;
  margin-right: 50px;
  padding-right: 5%;
  margin-top: -10%;
}

.note-bubble {
  border-radius: 0.5rem;
  margin-left: auto;
  color:darkslategray;
  background-color:white;
  width: 10%;
  min-width: 220px;
  padding: 10px;
  margin-top: -5px;
}
.yellow {
  color: #f7e557;
}
.quote {
  font-style: italic;
}

.lp {
  text-align: left;
  font-family: Georgia, serif;
}

.left-align {
  text-align: left;
}

.blurb {
  width: 70%;
}

.half-wide {
  width: 50%;
}

.form-div {
  width: 20%;
}

.alongside {
  margin: auto;
}

.title {
  font-size: 50px;
}

.circle {
  border-radius: 50%;
  width: 45%;
  height: auto;
  margin: auto;
}

.right-indent {
  margin-right: 20%;
}

.ctr {
  text-align: center;
}

.back {
  color: white;
  margin-left: 3%;
}

.backarr {
  margin-top: 1%;
}

.backarr img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 2px;
}

.backdiv {
  width: auto;
  margin-left: 20px;
}